In [2]:
import pandas as pd
import pandas_profiling as pp
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

import os

In [4]:
# read data 

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [7]:
# check shape

print('Train = ', train.shape)
print('Test = ', test.shape)

Train =  (1460, 81)
Test =  (1459, 80)

In [11]:
# append for preparation steps

basic_totality = train.append(test)
basic_totality.shape

/home/finn/.local/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

(2919, 81)

In [12]:
# check null values from train set

Null = pd.DataFrame(train.isna().sum())
Null

                 0
Id               0
MSSubClass       0
MSZoning         0
LotFrontage    259
LotArea          0
...            ...
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0

[81 rows x 1 columns]

In [29]:
Null['Columns'] = Null.index

In [42]:
Null.reset_index(inplace = True)

In [45]:
Null.rename(columns={0:'Count'},  inplace=True)

In [47]:
del Null['index']

In [49]:
Null.query('Count > 0')

    Count       Columns
3     259   LotFrontage
6    1369         Alley
25      8    MasVnrType
26      8    MasVnrArea
30     37      BsmtQual
31     37      BsmtCond
32     38  BsmtExposure
33     37  BsmtFinType1
35     38  BsmtFinType2
42      1    Electrical
57    690   FireplaceQu
58     81    GarageType
59     81   GarageYrBlt
60     81  GarageFinish
63     81    GarageQual
64     81    GarageCond
72   1453        PoolQC
73   1179         Fence
74   1406   MiscFeature

In [51]:
for i, row in Null.iterrows():
    if row['Count'] > 500:
        del basic_totality[row['Columns']]

In [52]:
train.shape

(1460, 81)

In [53]:
basic_totality.shape

(2919, 76)

In [57]:
dtype = pd.DataFrame(basic_totality.dtypes)
dtype

                   0
1stFlrSF       int64
2ndFlrSF       int64
3SsnPorch      int64
BedroomAbvGr   int64
BldgType      object
...              ...
Utilities     object
WoodDeckSF     int64
YearBuilt      int64
YearRemodAdd   int64
YrSold         int64

[76 rows x 1 columns]

In [58]:
dtype.reset_index(inplace=True)

In [59]:
dtype.rename({0:'type', 'index':'Column'}, axis=1, inplace=True)

In [60]:
dtype

          Column    type
0       1stFlrSF   int64
1       2ndFlrSF   int64
2      3SsnPorch   int64
3   BedroomAbvGr   int64
4       BldgType  object
..           ...     ...
71     Utilities  object
72    WoodDeckSF   int64
73     YearBuilt   int64
74  YearRemodAdd   int64
75        YrSold   int64

[76 rows x 2 columns]

In [ ]:
for i, row in Null.iterrows():
    if row['type'] == 'object':
        # Null handling
        basic_totality[row['Column']].fillna('unknown', inplace=True)
        # one-hot encoding
        row['Column']